
#array{
    display: flex;
    flex-direction: row;
}
#array > h3{
    height: 50px;
    width: 50px;
    border: 1px solid #000;
}
#array.invisible{
    display: none;
}

#scoreboard{
    list-style: none;
}

#scoreboard>li *{
    display: inline;
    margin: 20px;
}
